<h1>Items</h1>
<a href="/" class="button">Back</a>
<ul>
  <% items.forEach((item) => { %>
    <li>
      <h2><%= item.name %></h2> — Cost: <%= item.cost %>
      <% if (item.classes.length > 0) { %>
        <div>Class:
          <% item.classes.forEach((cls) => { %>
            <%= cls.name %>
          <% }) %>
        </div>
      <% } %>

      <% if (item.stats.length > 0) { %>
        <div>
          <ul>
            <% item.stats.forEach((stat) => { %>
              <li><%= stat.name %>: <%= stat.value %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    <a href="/items/<%= item.id %>" class="button">Edit</a>
    </li>
  <% }) %>
</ul>