<h1>New Item</h1>
<a href="/">Back</a>
<form method="POST" action="/items">
  <div class="form-group">
    <label for="itemName">Item Name</label>
    <input type="text" id="itemName" name="itemName" required/>
  </div>
    <div class="form-group">
    <label for="itemCost">Cost</label>
    <input type="tel" id="itemCost" name="itemCost" required/>
  </div>
  <div class="form-group">
    <label for="className">Class</label>
    <select id="className" name="className" required>
      <option value="">--Choose an option--</option>
      <% classes.forEach((cls) => { %>
        <% const { class_name : className } = cls %>
        <option value="className"><%= className %></option>
      <% }) %>
    </select>
  </div>
  <% for (let i = 0; i < 5; i++) { %>
        <div class="form-group">
          <label for="statName<%= i %>">Stat Name</label>
          <input type="text" id="statName<%= i %>" name="stats[<%= i %>][name]"/>
          <label for="statValue<%= i %>">Value</label>
          <input type="text" id="statValue<%= i %>" name="stats[<%= i %>][value]"/>
        </div>
  <% }%>
  <button type="submit">Submit</button>
</form>
